* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.card-custom {
   height: 100%;
}
.card-custom img {
   height: 350px;
   object-fit: fill;
   object-position: top;
}

.custom-container {
   padding-bottom: 100px !important;
}
